<!-- Destinee Stephen -->
<!-- CIS 4004 -->
<!-- 4/22/2020 -->
    
<!DOCTYPE html>
<html lang=en-US>
  <head>
    <title>The P-Dog Life: Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

<!-- Implementing bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <!-- Required Navigation System for Website -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">P-Dog Life</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="services.html">Products/Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About Us Contact Us</a>
      </li>
      </ul>
  </div>
</nav>


   <h2 id=services><i>Services we provide:</i></h2>
    <ul>
      <li>Finding a breeder for you</li>
      <li>Handling the shipment for your prairie dog</li>
      <li>Sending tips and a guide for first time prairie dog owners</li>
      <li>A complimentary prairie dog care kit to help you get started</li>
    </ul>

    <h3>Different types of domesticated prairie dog breeds and their descriptions: </h3>
      <dl>
        <dt><big>Black-tailed Prairie Dog</big></dt>
        <img src="../static/Black-tailed_Prairie_Dog_RL.PNG.png" alt="Black-tailed" height="400" width="400">
        <dd>Black tailed prairie dogs are one of the most common prairie dogs.</dd><br>

        <dt><big>White-tailed Prairie Dog</big></dt>
        <img src="../static/white-tailed.jpg" alt="White-tailed" height="400" width="400">
        <dd>These prairie dogs are also known as "chiselers".</dd><br>

        <dt><big>Gunnison's Prairie Dog</big></dt>
        <img src="../static/gunnisons.jpg" alt="Gunnison's" height="400" width="400">
        <dd>Gunnison's coats are yellow-toned buff merged with hairs that are black colored.</dd><br>

        <dt><big>Utah Prairie Dog</big></dt>
        <img src="../static/utah-prairie-dog.jpg" alt="Utah" height="400" width="400">
        <dd>This prairie dog is actually the smallest species of a prairie dog and it is part of the squirrel family.</dd><br>

        <dt><big>Mexican Prairie Dog</big></dt>
        <img src="../static/mexican.jpg" alt="Mexican" height="400" width="400">
        <dd>This prairie dog is endangered because it is considered an "agricultural pest". </dd><br>

      </dl>

    <footer>&copy; P-Dog Life</footer>

  </body>
</html>